<html lang="en">
<head>
    <%- include('../partials/head') %>
    
</head>
<body>
    <%- include('../partials/adminnavbar') %>
<div class="container mt-3">
    <form action="/admin/addProduct/" method="post" enctype="multipart/form-data">
         
        <div class="mb-3">
            <label for="productName" class="form-label">product Name</label>
            <input 
            type="text" 
            class="form-control"
             id="product" name="productName"
              aria-describedby="productName"/>

         </div>  
         <div class="mb-3">
            <label for="productPrice" class="form-label">product price</label>
            <input 
            type="text" 
            class="form-control"
             id="product" name="productPrice"
              aria-describedby="productName"/>

         </div>   
        <div class="mb-3">
            <label for="body" class="form-label">Description</label>
            <textarea name="productDesc"class="form-control" id="body" ></textarea>
         </div>   
         <div class="mb-3">
            <label for="productImage" class="form-label">Product iamge</label>
            <input 
            type="file" 
            class="form-control"
             id="" name="productImage"
              aria-describedby="coverimage"/>

         </div> 
         <div class="mb-3">
            <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <% categories.forEach((category) => { %>
                    <option value="<%= category._id %>"><%= category.categoryName %></option>
                    <% }); %>
                </select>
         </div>
         <div class="mb-3">
          <button class="btn btn-info">Add</button>
         </div>
    </form>
  </div>
<%- include("../partials/script") %>
</body>
</html>

