<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #ddecf0;
      margin: 0; /* Remove default margin to ensure full-width display */
    }

    .products {
      background-color: #fff;
      margin: 10px auto 55px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .products h1 ,h3{
      text-align: center;
      color: #ec7023;
      font-size: 24px;
    }

    .product-table {
      width: 100%;
      margin: 30px auto 25px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: center;
    }

    th {
      background-color: #2398ec;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #eababa;
    }

    tr:hover {
      background-color: #ddd7ce;
    }

    img {
      max-width: 150px;
      max-height: 100px;
      display: block;
      margin: 0 auto;
    }

    a {
      display: block;
      text-align: center;
      color: rgb(11, 30, 64);
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      color: #ff7f4f;
    }
  </style>
</head>
<body>
  <%- include('../partials/usernavbar') %>

 
  
  <div class="container products">
  
    <h1>My Order</h1>
    <% if (orders && orders.length > 0) { %>
        <table class="product-table">
            <thead>
              <tr>
                <th>OrderId</th>
                <th>Product Name</th>
                <th>TotalPrice</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Address</th>
                
              </tr>
            </thead>
            <tbody>
              <%orders.forEach((order)=>{%>
                <tr>
                    <td><%= order._id %></td>
                    <td><%= order.orderedProductId.productName %></td>
                    <td>Rs:<%= order.totalPrice %>/-</td>
                    <td>Total :<%= order.quantity %></td>
                    <td>
                      <img src="/<%= order.orderedProductId.productImage %>" alt="product" width="150px" height="100px" />
                      <a href="/user/product/<%=order.orderedProductId._id %>">View</a>
                      <!-- <form action="/dashboard/cartlist/remove/<%=order.orderedProductId._id%>" method="post">
                        <button type="submit">Remove</button>
                      </form> -->
                      <!-- <form action="/user/order/delete/<%=order.orderedProductId._id %>" method="post">
                        <button type="submit">Cancel Order</button>
                      </form> -->
                     <button id="cancelbtn" onclick="handlecancel('<%= order._id %>')">Cancel order</button>
                      
                    </td>
                    <td>
                       email:- <%= order.userEmail %> 
                       mobile:-  <%= order.userMobile %> 
                         <%= order.deliveryAddress %>
                    </td>
                  </tr>
                
                <%})%>
               
            </tbody>
          </table>
      <% } else { %>
        <h2>Your Order list is empty.</h2>
      <% } %>
    
  
   
  </div>
  <script>
async function handlecancel(orderId){
        const userConfirmed = confirm('Are you sure you want to cancel the order?');
        if(userConfirmed){
             try{
                 
                 const url=`/user/order/delete/${ orderId}`;
                 const response=await fetch(url,{method:"DELETE"});
                 if(response.status===204)
                 {
                     alert("Successfully order has been canceld");
                     window.location.href="/user";
                }
                }
            catch(err){
                console.log("error ",err);
             }
            }
        }
  </script>
  <%- include('../partials/script') %>
</body>
</html>
